<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Coming Soon</title>
		<link rel="stylesheet" href="style/index.css" type="text/css" />
	</head>
	<body>
		<div>
			<h3>Coming Soon!</h3>
			<p>Welcome!<br>
        We don't have a homepage yet. In the meantime, check out the API test we did for an assignment:<a href="/testGoogle">HERE</a>
				<br>
				<span class="signature">- terrier-tracker team</span>
				<br>
			</p>
		</div>
	</body>
</html>
